
.button {
  -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d63e 50%, rgba(255, 255, 255, 0.368) 100%),
    radial-gradient(
      center 50% -40%,
      radius 200%,
      #e6e6e66f 45%,
      rgba(230, 230, 230, 0) 50%
    );
  -fx-background-radius: 9;
  -fx-background-insets: 0, 1, 1;
  -fx-text-fill: black;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#f85717, #de3154);

  -fx-text-fill: white;
}

